*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 0;
    
}
body>div{
    /*font-size: 30px;*/
   font-size: 1.5rem;
}

body>div>div{
    font-size: 1.8rem;
}

body>div>div>div{
    font-size: 2rem;
}
header{
    height: 10vh;
    background-color: black;
    color:white;
}
main{
    min-height: 80vh;
}
#izq,#der{
    width: 100px;
    /*height: 80vh;*/
    min-height: 80vh;
    /*border: 1px solid #000;*/
    display: inline-block;
    padding: 10px;
    font-size: 1rem;
}
#izq{
    background-color: aqua;
    width: 30%;
}
#der{
    background-color: cornflowerblue;
    width: 70%;
}
footer{
    height: 10vh;
    background-color: rgb(199, 193, 193);
}
