#btnAgregar{
    background-image: url(../imgs/add.png);
    background-size: 32px 32px;
    background-repeat: no-repeat;
    padding: .5rem .5rem .5rem 2rem;
    
}

table{
    width: 60%;
    /*border: 1px solid #000;*/
}
td,th{
    border: 1px solid rgb(161, 162, 162);
    padding: .3rem .5rem;
    background-color: rgb(38, 38, 38);
    color:white
}
td:last-child{
  text-align: center;  
}
tbody tr:nth-child(odd) td{
    background-color: rgb(93, 94, 95);
}
/*#btnAgregar{
    padding: .5rem;
    padding-left: 2rem;
    line-height: 32px;
}

#btnAgregar img{
    width: 32px;
    top: 0.5rem;
    left: 0rem;
    position: absolute;
}*/