/*Pseudoclases
:hover
:focus-within
:focus

font-family
float
box-shadow
left
position
cursor
list-style
*/

* {
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    color: #fff;
    background: rgb(32, 151, 84);
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
}

li a {
    color: #fff;
    text-decoration: none;
}

li:hover,
li:focus-within{
    background: white;
    cursor: pointer;
}

li:hover > a{
    color: rgb(32, 151, 84);
}

ul ul {
    min-width: 5rem;
    position: absolute;
    margin-top: 1rem;
    left: 0;
    display: none;
    /*visibility: hidden;*/
    box-shadow: 1px 1px 2px 2px  rgba(0,0,0,.2);
}

ul li:hover>ul,
ul li:focus-within>ul{
    display: block;
}

header{
    position: fixed;
    margin-top: -4rem;
}
form{
    /*margin:0 auto;
    margin-top:4rem;*/
    margin: 4rem auto 0 auto;
    width: 40vw;
    padding: 1rem;
    box-shadow: 2px 2px 3px rgba(0,0,0,.5);
}

form div{
    margin:1rem 0;
}

form div:last-child{
    text-align: center;
}

input{
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #c4c0c0;
    /*outline: 2px solid #000;
    outline-offset:2px;
    */
    outline:none;
}
input:focus, 
input:hover{
    box-shadow: 0 0 3px 3px rgba(0,0,255,.5);
}
label{
    display: block;
}

form button{
    padding: .5rem;
    border-radius: 3px;
    border: none;
}
.btn-exito,
.btn-confirmacion,
.btn-cancelacion{
    color: white;
}
.btn-exito{
    background-color: seagreen;
}

.btn-exito:hover{
    background-color: rgb(22, 102, 57);
}

.btn-confirmacion{
    background-color: rgb(41, 41, 233);
}

.btn-confirmacion:hover{
    background-color: rgb(10, 65, 146);
}

.btn-cancelacion{
    background-color: rgb(194, 18, 18);
}

.btn-cancelacion:hover{
    background-color: rgb(156, 6, 6);
}

#frmRegistro{
    width: 90%;
    display: flex; 
    flex-wrap: wrap;   
}

#frmRegistro div{
    /*margin: .5rem 1rem;*/
}

.t1{
    width: 10%;
}
.t2{
    width: 20%;
}
.t3{
    width: 30%;
}
.t7{
    width: 70%;
}