.t1{
    width: calc(100% / 12);
}
.t2{
    /*Estilo para prevenir que haya un navegador que no reconozca
    calc*/
    /*width: 16.66%;*/
    width: calc(100% / 6);
}
.t3{
    width: 25%;
}
.t4{
    width: calc(100% / 12 * 4);
}
.t5{
    width: calc(100% / 12 * 5);
}
.t6{
    width: 50%;
}
.t7{
    width: calc(100% / 12 * 7);
}
.t8{
    width: calc(100% / 12 * 8);
}
.t9{
    width: 75%;
}
.t10{
    width: calc(100% / 12 * 10);
}
.t11{
    width: calc(100% / 12 * 11);
}
.t12{
    width: 100%;
}